@import "../../style/Core";

.footer {
    z-index: 1;
    background: $secondary_color;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    
    .content {
        z-index: 2;
        display:grid;
        grid-template-columns: 1fr auto;
        grid-gap: 4rem;
        padding:2rem;
        background:var(--footer-background);

        a, p {
            color:#F5F7FA;
            text-decoration:none;
        }
        b {
            color:white;
        }
        p {
            margin:0;
            font-size:.75rem;
        }
        >div {
            display:flex;
            flex-direction:column;
            justify-content: center;
            >div {
                margin:0.25rem 0;
                >* {
                    margin-right:.5rem;
                }
            }
            .image {
                align-self: center;
                width: 80px;
                height: 80px;
                margin:0.25rem 0;
                background: white;
                background-size: cover;
                background-position: center;
                border-radius: 50px;
                padding: 6%;
            }
        }
    }
}