@import "../../style/Core";

#shop-container {
    #shop-content {
        display: flex;
        justify-content: center;
        align-items: center;

        #shop-items {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 80%;
            gap: 10px;

            .shop-pagination-index-prime {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 10px;
                margin-bottom: 40px;
                display: none;
            }

            @media (max-width: $resp-change) {
                .shop-pagination-index-prime {
                    display: flex;
                }
            }

            .shop-item {
                justify-content: center;
                align-items: center;
                text-align: center;
                display: flex;
                flex-direction: column;
                width: 250px;
                height: 270px;
                position: relative;

                img {
                    width: 150px;
                    height: 150px;
                    box-shadow: -15px -20px 40px $tri_color;
                }

                .info {
                    font-size: 1.2rem;
                }

                .info-name {
                    font-weight: bold;
                }

                .info-artist {
                    font-size: 1rem;
                    font-style: italic;
                    color: #4b4b4b;
                }

                .info-price {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    transform: rotate(-15deg);
                    color: $main_color;
                    background: orange;
                    padding: 2%;
                    border: 2px solid transparent;
                }
            }

            .shop-item:hover {
                .info-price {
                    background: black;
                }

                .info-name {
                    color: #333333;
                }

                .info-artist {
                    color: $secondary_color;
                }
            }
        }
    }

    #shop-pagination {
        position: relative;
        display: flex;
        width: 100%;
        gap: 50px;
        justify-content: center;
        align-items: center;
        color: $tri_color;
        flex-wrap: wrap;

        #shop-pagination-index {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            .shop-pagination-links {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $tri_color;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-decoration: none;
                color: $tri_color;
                background: white;
            }

            .shop-pagination-links-cur {
                background: $tri_color;
                color: white;
            }
        }

        #shop-search {
            justify-content: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 8px;
            position: relative;

            #shop-searching {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }

            #shop-filters {
                background: white;
                padding: 10px;
                position: absolute;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                display: flex;
                gap: 20px;
                height: 350px;
                z-index: 99999;
                top: 0;
                border: 1px solid black;
                box-shadow: 0px 0px 10px 1px $tri_color;

                .shop-filters-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 300px;

                    .shop-filters-btn-container {
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                }

                .shop-filters-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    padding: 10px 15px 0px 0px;
                }
            }
        }
    }
}